
/* Clipboard drop */

#overlay-container{
	z-index:800;
}

.clipboard-node{
	position:relative;
}

.clipboard-contextual-region-active {
  border:#999 dashed 1px;
}

.clipboard-contextual{
	position:absolute;
	display:block;
	top:2px;
	right:40px;
}

.clipboard{
	position:relative;
	display:inline-block;
}

img.clipboard-delete{
	cursor:pointer;
}

img.refresh{
	height:21px;
	cursor:pointer;
}

.sticky-table .clipboard-draggable-node{
	position:inherit;
}

.clipboard-draggable, .clipboard-draggable-node, .clipboard li{
	position:relative;
	cursor:move;
}

.clipboard li, .clipboard li a{
	color:#000000;
}

.clipboard li{
	background:url("../img/ui_bg_glass.png") 50% 50% repeat-x;
	padding:4px;
	margin-left:26px;
	margin-bottom:4px;
}

.clipboard .clipboard-item-link{
	width:180px;
	font:12px "Lucida Grande",Verdana,sans-serif;
	display:inline-block;
	vertical-align:middle;
}

.clipboard .ajaxLoad{
	display:none;
}

.clipboard ol, .clipboard ul{
	width:100%;
	max-height:160px;
	overflow:auto;
	float:left;
}

.clipboard ul{
	width:100%;
	float:left;
}

.clipboard  ul.clipboard-drop{
	list-style-type: none;
}

.clipboard ul.clipboard-drop li{
	margin-left:0px;	
}

.clipboard .clipboard-drop{
	padding:20px 0px 20px;
	margin:0px;
}

.clipboard .clipboard-drop-active{
	background-color:#FFCCCC;
	border:dashed 2px black;
}

.clipboard-item-drop-active{
	background-color:#FFCCCC;
	border:dashed 2px black;
	min-height:40px;
}

.clipboard .clipboard-drop-here{
	background-color:#FFCCCC;
}

.clipboard .clipboard-drop-active-hover{
	background-color:#D2FFE4;
}

.clipboard-drop-active-hover{
	background-color:#D2FFE4;
}

.clipboard .clipboard-drop-active li, .clipboard .clipboard-drop-active li a{
	color:#000000;
}

.clipboard .placeholder{
	z-index:300;
	height:24px;
	border:1px solid #fcefa1;
	background:#fbf9ee;
}

img.clipboard-control{
	height:20px;
	border-radius:8px;
	background-color:#CCC;
	padding:4px;
	margin-left:4px;
}

.clipboard img.delete-icon{
	height:21px;
	cursor:pointer;
	vertical-align:middle;
	margin-left:4px;
}

.clipboard img.edit-icon{
	height:21px;
	cursor:pointer;
	vertical-align:middle;
	margin-left:4px;
}

img.img-no-display{
	display:none;
}

img.clipboard-click-img{
	cursor:pointer;
	display:none;
}

img.clipboard-drag-img{
	cursor:move;
	display:none;
}

#branding .clipboard-contextual{
	top:0px;
	left:0px;
	margin-left:10px;
}

#branding .clipboard-contextual, #branding .clipboard-contextual .clipboard-draggable-node, #branding .clipboard-contextual .clipboard-click-img{
	position:inherit;
	display:inline;
}

.clipboard-contextual-block-list{
	position:absolute;
	top:18px;
	right:0px;
}

.clipboard-contextual ul.clipboard-contextual-block-list{
	display:none;
	background-color:#FFFFFF;
    border:1px solid #CCCCCC;
    border-radius:4px 0 4px 4px;
	white-space:nowrap;
    margin:0;
	padding:0.25em 0;
}

.clipboard-contextual-block-list li{
	cursor:pointer;
    list-style: none outside none;
	font-size:0.923em;
    margin: 0.25em 0;
    padding: 0.25em 1em 0.25em 0.5em;
}

.clipboard-contextual-block-list li:hover{
    background-color: #BFDCEE;
}

.form-item-clipboard-select-hook select{
	width:100%;
}